<!DOCTYPE html>
<html>
<head>
    <title>Edit Profile - QuickPark</title> 
    <link rel="stylesheet" href="{{ url_for('static', filename='style/styles-home.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style/style-signup.css') }}">
</head>
<body>
    <div class="header">
        <div class="logo">
            <img class="logo-img" src="{{ url_for('static', filename='style/images/LOGO.png') }}">
        </div>
        <div class="name">QUICKPARK</div>
    </div>

    <div class="container1">
        <div class="box">
            <div class="login-box">
                <form action="{{ url_for('edit_profile') }}" method="POST">
                    <h1 class="lgheader">Edit Profile</h1>

                    <p>Username:
                    <input name="username" type="text" value="{{ user.username }}" required></p>

                    <p>Password: 
                    <input name="password" type="password" placeholder="Enter new password" required></p>

                    <p>Full Name: 
                    <input name="full_name" type="text" value="{{ user.full_name }}" required></p>

                    <p>Address: 
                    <input name="address" type="text" value="{{ user.address }}" required></p>

                    <p>Pincode: 
                    <input name="pin_code" type="text" value="{{ user.pincode }}" required></p>

                    <div class="sub-btn">
                        <button type="submit" class="btn">Update</button>
                        <a href="{{ url_for('user_home' if not user.is_admin else 'admin_home') }}" class="btn">Cancel</a>
                    </div>

                </form>
            </div>
        </div>
    </div>

</body>
</html>
